:root {
  --deep-slate: #0D1B2A;
  --muted-sage: #1B263B;
  --form-bg: #E0E1DD;
  --white: #ffffff;
  --btn-dark: #415A77;
  --btn-hover: #778DA9;
}

html {
  scroll-behavior: smooth;
}
.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
 
}
/* .button{
  border-radius:34px;
  border:none;
  color:white;
  font-size: 16px;
  padding:11px 26px 11px 26px;
  background: linear-gradient(180deg,#167181 26.71%,#fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42)

}
.button:hover{
  background:white;
  cursor:pointer;
  color: var(--orange);
  border:1px solid var(--orange);
} */